# The Ultimate Exploratory Data Analysis
For this task, I explored further the IT Salary Survey EU 2020.csv from week one.

## Step 1. Importing Libraries and Loading Data
* Import pandas
* Import Numpy
* Import Matplotlib
* Import Seaborn
* In addition import style to be used for plots to make them look nice(_Note that this is not compulsory_)

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

* To Load the dataset, download in in csv format.
* Open the file and examine the data to establish the separator for the data columns
* Save the dataset file in the same directory as that of the notebook

In [2]:
df = pd.read_csv('IT Salary Survey EU  2020.csv', sep=',')

## Understanding the dataset
After loading the dataset into a dataframe, it is good to explore it. We can find out the following about the data:
* How many rows & columns does it have?
* How does the first five and last five rows look like?
* How are the columns labeled for this dataset?
* What is the data type for each column?
* What is the summary of statistical numerical analysis of the data e.g. mean, sd, ...?

In [4]:
df.shape

(1253, 23)

In [5]:
df.head(5)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [8]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [9]:
df.dtypes

Timestamp                                                                                                                   object
Age                                                                                                                        float64
Gender                                                                                                                      object
City                                                                                                                        object
Position                                                                                                                    object
Total years of experience                                                                                                   object
Years of experience in Germany                                                                                              object
Seniority level                                                                                                             object
Your main technology / programming language                                                                                 object
Other technologies/programming languages you use often                                                                      object
Yearly brutto salary (without bonus and stocks) in EUR                                                                     float64
Yearly bonus + stocks in EUR                                                                                                object
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   float64
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    object
Number of vacation days                                                                                                     object
Employment status                                                                                                           object
Сontract duration                                                                                                           object
Main language at work                                                                                                       object
Company size                                                                                                                object
Company type                                                                                                                object
Have you lost your job due to the coronavirus outbreak?                                                                     object
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          float64
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR     object
dtype: object

In [11]:
df.describe()

,Age,Yearly brutto salary (without bonus and stocks) in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"
count,1226.000000,1.253000e+03,8.850000e+02,373.000000
mean,32.509788,8.027904e+07,6.322459e+05,12.967828
std,5.663804,2.825061e+09,1.680508e+07,15.275174
min,20.000000,1.000100e+04,1.100000e+04,0.000000
25%,29.000000,5.880000e+04,5.500000e+04,0.000000
50%,32.000000,7.000000e+04,6.500000e+04,0.000000
75%,35.000000,8.000000e+04,7.500000e+04,30.000000
max,69.000000,1.000000e+11,5.000000e+08,40.000000

## Cleaning data
* Before running analysis on the data, it is wise to try and clean the data first. We can do the following:
* Drop irrelevant columns i.e. columns not needed for analysis
* Identify duplicated columns and rows
* Rename columns to appropiate names, and remove whitespaces in column names

In [22]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

From this list of columns, those retained for the analysis are:
* Age
* Gender
* City
* Position
* Total years of experience
* Seniority level
* Main technology/programming language
* company size
* company type
* contract duration
<br>
To be able to do this, a subset dataframe of the original is made so as to solely focus analysis on this ten columns only. The dropped columns are commented out while forming the dataset to make it clearly visible, otherwise the drop method can be used.
_The drop method is illustrated below but is commented out since it is not being used for the tutorial_

In [25]:
# Examples of dropping columns
#df.drop(['Years of experience in Germany'], axis=1)

In [32]:
df = df[[ 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Сontract duration',
       #'Years of experience in Germany', 'Timestamp'
       'Seniority level', 'Your main technology / programming language',
       #'Other technologies/programming languages you use often',
       #'Yearly brutto salary (without bonus and stocks) in EUR',
       #'Yearly bonus + stocks in EUR',
       #'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       #'Annual bonus+stocks one year ago. Only answer if staying in same country',
       #'Number of vacation days', 'Employment status',
       #'Main language at work', 
       'Company size', 'Company type',
       #'Have you lost your job due to the coronavirus outbreak?',
       #'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       #'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'
    ]].copy()

In [33]:
df.shape

(1253, 10)

In [34]:
df.dtypes

Age                                            float64
Gender                                          object
City                                            object
Position                                        object
Total years of experience                       object
Сontract duration                               object
Seniority level                                 object
Your main technology / programming language     object
Company size                                    object
Company type                                    object
dtype: object

Next is to examine if the columns are of suitable data types.
* The age column can be of int type
* Total years of experience should be of int type
<br>
In addition we can rename our columns to more shorter and suitable versions while removing the whitespaces.

In [46]:
#df['Total years of experience'] = pd.to_numeric(df['Total years of experience'])
#df.dtypes

In [50]:
# Renamimng the columns
df = df.rename(columns={'Total years of experience':'Experience_in_years',
                  'Сontract duration':'Contract_duration',
                  'Seniority level':'Seniority_level',
                  'Your main technology / programming language':'Main_programming_language',
                  'Company size':'Company_size',
                  'Company type':'Company_type'})
df.columns

Index(['Age', 'Gender', 'City', 'Position ', 'Experience_in_years',
       'Contract_duration', 'Seniority_level', 'Main_programming_language',
       'Company_size', 'Company_type'],
      dtype='object')

Next is to check for null values in our dataframe. This helps in giving a glimpse on how the null data is distributed among the selected columns in the subset dataframe.

In [52]:
df.isna().sum()

Age                           27
Gender                        10
City                           0
Position                       6
Experience_in_years           16
Contract_duration             29
Seniority_level               12
Main_programming_language    127
Company_size                  18
Company_type                  25
dtype: int64

The results shows that all columns apart from the city has null values.
<br>
Next is to look for duplicates within the dataset

In [56]:
df.loc[df.duplicated()].head(5)

,Age,Gender,City,Position,Experience_in_years,Contract_duration,Seniority_level,Main_programming_language,Company_size,Company_type
51,28.0,Female,Berlin,Designer (UI/UX),7,Unlimited contract,Middle,Figma,1000+,Product
126,31.0,Male,Berlin,Software Engineer,9,Unlimited contract,Senior,"C#, .net core",11-50,Startup
217,27.0,Male,Berlin,Backend Developer,5,Unlimited contract,Middle,Java,1000+,Product
319,46.0,Male,Berlin,Software Engineer,14,Unlimited contract,Senior,JavaScript,51-100,Product
567,30.0,Male,Berlin,Product Manager,3,Unlimited contract,Junior,NaN,11-50,Product

In [68]:
df.duplicated(subset=['Age','Gender', 'City', 'Position ', 'Experience_in_years',
       'Contract_duration', 'Seniority_level', 'Main_programming_language',
       'Company_size', 'Company_type'])

0       False
1       False
2       False
3       False
4       False
        ...
1248    False
1249    False
1250    False
1251    False
1252    False
Length: 1253, dtype: bool

In [65]:
# Querrying one of the columns
df.query('Age==26.0')

,Age,Gender,City,Position,Experience_in_years,Contract_duration,Seniority_level,Main_programming_language,Company_size,Company_type
0,26.0,Male,Munich,Software Engineer,5,Unlimited contract,Senior,TypeScript,51-100,Product
1,26.0,Male,Berlin,Backend Developer,7,Unlimited contract,Senior,Ruby,101-1000,Product
79,26.0,Female,Munich,Data Scientist,6,Unlimited contract,Middle,python,1000+,Product
80,26.0,Male,Berlin,Software Engineer,8,Unlimited contract,Lead,Go,1000+,Product
100,26.0,Male,Munich,Backend Developer,7,Unlimited contract,Senior,Java,101-1000,Product
109,26.0,Male,Munich,Data Scientist,3,Unlimited contract,Middle,Python,101-1000,Product
123,26.0,Female,Munich,Data Scientist,3,Unlimited contract,Junior,Ml/Python,1000+,Product
145,26.0,Male,Münster,Data Scientist,5.5,Unlimited contract,Junior,Python,1000+,Product
188,26.0,Male,Berlin,Mobile Developer,6,Unlimited contract,Senior,Kotlin,101-1000,Product
209,26.0,Male,Berlin,Software Engineer,5,Unlimited contract,Middle,Scala,101-1000,Product
239,26.0,Female,Berlin,Software Engineer,6,Unlimited contract,Senior,.NET,101-1000,Product
244,26.0,Male,Munich,ML Engineer,1.5,Unlimited contract,Junior,Python,101-1000,Consulting / Agency
317,26.0,Male,Frankfurt,Consultant,4,Unlimited contract,Middle,JavaScript,101-1000,Consulting / Agency
325,26.0,Male,Frankfurt,Backend Developer,7,Unlimited contract,Senior,Java,101-1000,Product
344,26.0,Male,Frankfurt,Software Engineer,3,Unlimited contract,Middle,Python,51-100,Consulting / Agency
357,26.0,Male,Karlsruhe,Software Engineer,5,Unlimited contract,NaN,NaN,11-50,Consulting / Agency
382,26.0,Male,"Riga, Latvia",Software Engineer,4,Unlimited contract,Middle,javascript,101-1000,Consulting / Agency
385,26.0,Male,Hamburg,Software Engineer,7,Unlimited contract,Senior,TypeScript,101-1000,Consulting / Agency
425,26.0,Male,London,Frontend Developer,8,Unlimited contract,Senior,"TypeScript, React",1000+,Startup
437,26.0,Male,Berlin,Marketing Analyst,7,Unlimited contract,Middle,SQL,101-1000,Startup
500,26.0,Female,Berlin,Data Scientist,2,Unlimited contract,Junior,Python,11-50,Consulting / Agency
536,26.0,Male,Berlin,Data Scientist,5,Unlimited contract,Middle,Python,101-1000,Startup
540,26.0,Male,Berlin,Software Engineer,5,Unlimited contract,Middle,Swift,1000+,Product
565,26.0,Male,Berlin,Data Engineer,2,Unlimited contract,Middle,Python,1000+,Product
579,26.0,Female,Berlin,Data Scientist,4,Temporary contract,Middle,"Sql, BQ, tableau, gtm, ga",101-1000,Startup
683,26.0,Male,Berlin,Architect,9,Unlimited contract,Head,Go,1000+,Product
713,26.0,Female,Dusseldorf,BI Consultant SAP/ Data Engineer,5,Unlimited contract,Middle,ABAP,up to 10,Startup
716,26.0,Male,London,DevOps,3,Unlimited contract,Middle,"networking, linux, automation, cloud",51-100,Product
725,26.0,Male,Berlin,Data Engineer,4,Unlimited contract,Middle,Scala,11-50,Consulting / Agency
758,26.0,Male,Berlin,Backend Developer,2.5,Unlimited contract,Middle,Java,101-1000,Product
776,26.0,Male,Berlin,Data Scientist,4,Unlimited contract,Middle,Python,1000+,Ecommerce
817,26.0,Female,Moscow,Frontend Developer,6,Unlimited contract,Senior,JavaScript,101-1000,Product
830,26.0,Male,Berlin,Software Engineer,2,Unlimited contract,Middle,TypeScript,1000+,Consulting / Agency
834,26.0,Female,Berlin,Tech recruiting,"2,5",Unlimited contract,Middle,JS,101-1000,Product
837,26.0,Male,Munich,ML Engineer,5,Temporary contract,Senior,Spark,up to 10,Consulting / Agency
839,26.0,Male,Eindhoven,ML Engineer,3,Unlimited contract,Middle,Python,101-1000,Product
881,26.0,Male,Berlin,Data Scientist,2,Unlimited contract,Junior,Pyrhon,1000+,NaN
924,26.0,Male,Berlin,Backend Developer,2,Unlimited contract,Junior,Php,11-50,Product
925,26.0,Male,Amsterdam,Data Scientist,2,Temporary contract,Junior,Python,51-100,Fintech
931,26.0,Male,Berlin,Software Engineer,5,Unlimited contract,Middle,Python (Django),101-1000,Product
934,26.0,Male,Berlin,Backend Developer,6,Unlimited contract,Senior,Go,1000+,Product
943,26.0,Male,Lisbon,Software Engineer,4,Unlimited contract,Middle,JavaScript,51-100,Product
963,26.0,Male,Berlin,DevOps,5,Unlimited contract,Middle,"Kubernetes, Terraform, GCP",11-50,Startup
1002,26.0,Female,Berlin,Backend Developer,5,Unlimited contract,Middle,Java,1000+,Product
1012,26.0,Male,Munich,Software Engineer,4,Unlimited contract,Middle,JavaScript / TypeScript,101-1000,Startup
1024,26.0,Female,Hannover,QA Engineer,2,Unlimited contract,Middle,Tricentis Tosca,1000+,Non-tech retail
1028,26.0,Male,Berlin,QA Engineer,4,NaN,Middle,Swift/Kotlin,51-100,Startup
1040,26.0,Female,Prague,Software Engineer,4,Unlimited contract,Middle,C#,1000+,Product
1041,26.0,Male,Berlin,Product Analyst,4,Unlimited contract,Middle,Python,1000+,Product
1053,26.0,Female,Berlin,Backend Developer,7,Unlimited contract,Senior,NaN,up to 10,Product
1069,26.0,Male,Munich,Software Engineer,6,Unlimited contract,Senior,TypeScript,11-50,Startup
1140,26.0,Female,Berlin,Mobile Developer,8,Temporary contract,Middle,c++,101-1000,Product
1151,26.0,Male,Stockholm,ML Engineer,2.5,Unlimited contract,Middle,Python/NLP,1000+,Product
1205,26.0,Male,Berlin,Backend Developer,5,Unlimited contract,Middle,Java,1000+,Product
1219,26.0,Male,Munich,Mobile Developer,5,Unlimited contract,Middle,Kotlin,51-100,Startup
1234,26.0,Male,Saint-Petersburg,Project Manager,5,Unlimited contract,Middle,Python,1000+,Product
1235,26.0,Male,Saint-Petersburg,Project Manager,5,Unlimited contract,Middle,Python,1000+,Product
1251,26.0,Male,Saarbrücken,Frontend Developer,7,Unlimited contract,Middle,JavaScript,101-1000,Product
1252,26.0,Male,Berlin,DevOps,2,Unlimited contract,Middle,yaml,51-100,Startup